<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/">EBT BLOG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/whoami">HAKKIMDA<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/articles">MAKALELER<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if session["logged_in"]%}
          <li class="nav-item active">
            <a class="nav-link" href="/logout">ÇIKIŞ YAP<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/kontrol_paneli">KONTROL PANELİ<span class="sr-only">(current)</span></a>
          </li>
        {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="/login">GİRİŞ YAP<span class="sr-only">(current)</span></a>
          </li>
        {% endif %}
        <li class="nav-item active">
          <a class="nav-link" href="/register">KAYIT OL<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>