{% extends 'main_page.html' %}
{% block body %}
    <h3>HAKKIMDA</h3>
    <hr>
    Herkese merhabalar.Ben Eşref Burak Tanrıseven.Konya Teknik Üniversitesi Bilgisayar Mühendisliğinden mezun
    bir Bilgisayar Mühendisiyim.Okul hayatıma C programlama dili ile başlayıp ardından Java sonrasında HTML-CSS
    ve son olarak Python programlama dili ile uğraştım. Şu anda hala Python programlama dili ile uğraşmaktayım.
    Proje olarak Python programlama dilinde OPENCV kütüphanesi yardımı ile Görüntü İşleme üzerine projelerim var.
    Bitirme Projem olarak ise Trafik Yoğunluğu Belirleme programı yazdım.Şu anda hala Python programlama dilinde kendimi
    geliştirmeye ve yetiştirmeye devam ediyorum. 
    <hr>
{% endblock body %}